<% include header %>
<link rel="stylesheet" href="bootstrap.min.css">
  <link rel="stylesheet" href="index.css">
  <style>
    
      body {

          padding-top: 50px;
          padding-bottom: 20px;
      }
  </style>
  <link rel="stylesheet" href="bootstrap-theme.min.css">
  <link rel="stylesheet" href="main.css">

  <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body>
        <nav class="navbar navbar-inverse navbar-fixed-top" >
                <div class="container">
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><h3>Venkata Ajit Kumar </h3></a>
                  </div>
                  <div id="navbar" class="navbar-collapse collapse">
                    <form class="navbar-form navbar-right" >
                <div class="form-group">
                <a class="navbar-brand" href="/">Home</a>
                        </div>
                   <div class="form-group">
                <a class="navbar-brand" href="/ajit">My Choice</a>
                        </div>
                             <div class="form-group">
                <a class="navbar-brand" href="/contact">Contact</a>
                </div>
                <div class="form-group">
                    <a class="navbar-brand" href="/guestbook">GuestBook</a>
                  </div>
                
                </form>
                        </div>
                        </div>
                      </nav>
<h1>
My memo
<a href="/new-entry" class="btn btn-primary pull-right">
Write a memo
</a>
</h1>
<% if (entries.length) { %>
<% entries.forEach(function(entry) { %>
<div class="panel panel-default">
<div class="panel-heading">
<div class="text-muted pull-right">
<%= entry.published %></div>
<%= entry.title %></div>
<div class="panel-body">
<%= entry.content %>
</div>
</div>
<% }) %>
<% } else { %>
No entries! <a href="/new-entry">Add one!</a>
<% } %>
<% include footer %>
